@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    background-color: #282a36;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.image img{
    border-radius: 50%;
    width: 240px;
    height: 260px;
    margin: auto;
    display: block;
    text-align: center;
}
.name{
    color: white;
    text-align: center;
    display: block;
    font-size: 40px;
}
p{
    color: azure;
}
i{
    font-size: 35px;
    display: block;
    color: azure;
    margin-left: 5px;
}
.links{
    text-align: center;
}
.buttons{
    text-align: center;
    margin-top: 2pc;
}
.btn{
    margin: 5px;
    color: azure;
    border: 5px solid grey;
    background-color: grey;
    border-radius: 15px;
    padding: 10px 10px;
    text-decoration: none;
}
.head{
    color: white;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    margin-left: 70px;
    text-decoration: none;
}
.maincon{
    padding: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}
.maincon h3{
    color: white;
    font-size: 25px;
}
.card{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: auto;
    background: rgba(196, 196, 196, 0.3);
    position: flex;
    padding: 20px;
}